.cursos {
    width: 90%;
    float: left;
    margin: 0 0 1em 10px;
    padding: 0;
    list-style: none;
    background-color: beige;
    }
    
.wrapper{
    font-family: 'Black Ops One', cursive;
    text-align: left;
}

.nome{
    text-shadow: 2px 2px 2px #606060;
    
}

.bcurso {
    color: rgba(0,0,0,.6);
}

a {
    color: #606060;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #606060;
}

ul {
    list-style-type: none;
}