body.principal {
    background-image: url("footer.jpg");
}

h3 {
    position: absolute;
    left: 600px;
    top: 25px;
    color: white;
    text-shadow: 2px 3px 3px black;
    font-family: Arial , sans-serif;
}


h2.subtitulo { 
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0.6);
    margin-top: 140px;
    margin-bottom: 80px;
}

img{
    margin-bottom: -25px;
}

a {
    color: #606060;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #606060;
}

ul {
    list-style-type: none;
}

.header {
    background-color: rgba(21, 23, 46, 0.815);
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1px;
    text-align: left;
}

.header h3{
    text-align: center;
    margin: 0px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

.footer{
    background-color: rgba(21, 23, 46, 0.815);
    margin: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px;
}

.h2 {
    color: #2c4eb4b4;
    text-align: center;
    text-shadow: 2px 2px 2px white;
    margin-bottom: 80px;
    margin-top:130px;
}

h2{
   font-family: 'Merriweather', serif;
   text-align: center;
}

.wrapper{
    font-family: 'Black Ops One', cursive;
    text-align: left;

}

.cor {
    color: #ffffff;
}

h1#noticiaPrincipal h1 {
    color: white;
}
    /* Estilo Noticias */

div.noticias h1 {
    color: #2c4eb4b4;
    text-align: center;
    text-shadow: 2px 2px 2px white;
    font-size: 25pt;
    margin-top: 60px;
}

div.noticias h2{
    color: white;
    text-shadow: 2px 2px 3px #606060;
    text-align: center;
    font-size: 17pt;
    margin-bottom: 60px;
}

div.noticias p{
    color: white;
    text-shadow: 2px 2px 3px #606060;
    text-align: center;
    font-size: 14pt;
    margin-top: -50px;
}


    /* Estilo do Sobre */

h2.h2Sobre {
    text-align: center;
    color: #2c4eb4b4;
    text-shadow: 2px 2px 2px white;
    font-size: 30pt;
}

h1.tituloSobre {
    color: white;
    text-shadow: 2px 3px 3px #2c4eb4b4;
}
div.paragrafoSobre p {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

div#paragrafoSobre {
    color: white;
}

div#paragrafoSobre h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 3px 3px #2c4eb4b4;
}

div#paragrafoSobre p.paragrafoMaior{
    text-align: center;
    font-size: 18pt;
}

div#paragrafoSobre p {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    font-size: 13pt;
}


