.wrapper{
    font-family: 'Black Ops One', cursive;
    
}

h1 {
    color: #2c4eb4b4;
    text-align: left;
    text-shadow: 2px 2px 2px white;
}

h2{
    color: white;
    text-shadow: 2px 2px 3px #606060;
    text-align: center;
}

a:hover {
    color: #666666;
    text-decoration: none;
    

}
